#intro {
  text-align: center;
  font-size: 24px;
}

#intro p{
  margin: 0;
}

#post-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

#make-post-btn {
  background-color: #ACA0EB;
  color: white;
  padding: 10px 36px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
}

#make-post-btn:hover {
  background-color: #7F6AEE;
}

#post-list-container {
  width: 100%;
  height: 60vh; 
  overflow-y: auto; 
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.post-card {
  width: 90%;
  padding: 15px;
  background-color: white;
  border-radius: 8px; 
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.post-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.post-divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}

.post-author {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

.author-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
